        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            background-color: #E5E5E5;
        }
        
        .container {
            max-width: 1400px;
            margin: 0 auto;
        }
        
        .container_header {
            justify-content: space-between;
        }
        
        nav {
            display: inline-block;
        }
        
        .logo {
            display: inline-block;
        }
        
        .logo img {
            height: 57px;
            width: 25px;
            justify-content: center;
            height: 100%;
            /*не увеличиваеися расстояние сверху у каотинки*/
        }
        
        a {
            color: #C08D5D;
            text-decoration: none;
            margin-left: 40px;
            line-height: 120px;
            text-align: center;
            font-size: 25px;
        }
        
        a:hover {
            color: rgb(97, 60, 14);
        }
        
        .h1 {
            border-top: 1px solid #C08D5D;
            width: 420px;
        }
        
        footer {
            display: block;
        }
        
        .footer_images_1 {
            display: block;
            padding-left: 50%;
            padding-top: 5px;
            padding-bottom: 9px;
        }
        
        .footer_images_2 {
            display: block;
            padding-left: 50%;
        }
        
        .footer_images_3 {
            display: block;
            padding-left: 49%;
        }
        
        .button {
            display: inline-block;
            background-color: #E5E5E5;
            line-height: 40px;
            text-align: center;
            border: 2px solid #C08D5D;
            color: black;
            margin-top: 72px;
            margin-left: 0;
        }
        
        .button:hover {
            border: 2px solid black;
        }
        
        .button::after {
            content: '>';
            display: inline-block;
            height: 45px;
            width: 44px;
            margin-left: 10px;
            background-color: #C08D5D;
            line-height: 40px;
            /*по центру в длину*/
            color: white;
            text-align: center;
            /*в ширину по середине выровнять*/
        }
        
        .image {
            float: right;
            width: 878px;
            height: 660px;
        }
        
        .h1 {
            font-size: 30px;
            font-weight: 800;
        }
        
        .vector {
            margin-bottom: 26px;
            margin-top: 26px;
        }
        
        h1 {
            font-family: 'Yeseva One';
            font-style: normal;
            font-weight: 400;
            font-size: 70px;
            line-height: 81px;
            letter-spacing: 0.06em;
        }